<!DOCTYPE html>
<html lang="mk">
<head>
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/forms.css">
  <link rel="stylesheet" href="/styles/navigation.css">
  <link rel="stylesheet" href="/styles/documents.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="/scripts/templates/employment/annex-employment-agreement-duration.js" defer></script>
  <script src="/scripts/templates/steps.js" defer></script>
</head>
<body style="padding: 0; padding-top: 40px;">
  <%- include('../../../../shared/includes/header')%>
  <main class="container">
    <section>
      <h3>Анекс за измена на времетраење на договор за вработување на определено време</h3>
      <div class="progress-bar">
        <div id="progress" class="progress"></div>
        <div id="progress-label">0% завршен</div>
      </div>
      <div class="standard-template"></div>
    </section>

    <div class="form-container" style="display: grid; grid-template-columns: 1fr 2fr;">
      <form class="generate-rent-agreement-doc" action="/documents/employment/generate-annex-duration" method="POST">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
        
        <!-- Step 1: Employee Info -->
        <div class="step active" id="step-1">
          <div class="user-role-selection" style="display: flex; flex-direction: column; width: 100%; padding-bottom: 15px; text-align: left; gap: 6px;">
            <h4>Податоци за вработен</h4>
            <input type="hidden" name="companyName" value="<%= clientName %>" id="companyName">
            <input type="hidden" name="clientAddress" value="<%= clientAddress %>" id="clientAddress">
            <input type="hidden" name="clientPIN" value="<%= clientPIN %>" id="clientPIN">
            <input type="hidden" name="clientManager" value="<%= clientManager %>" id="clientManager">
            <!-- Employee Name -->
            <label for="employeeName">Име на вработен</label>
            <div class="input-grid">
              <input type="text" name="employeeName" placeholder="Име на вработен" id="employeeName" class="input-field" required>
              <span class="tooltip-container">
                <i class="fas fa-info-circle info-icon"></i>
                <span class="tooltip-text">Внесете го целосното име на вработениот.</span>
              </span>
            </div>

            <!-- Employee Address -->
            <label for="employeeAddress">Адреса на вработен</label>
            <div class="input-grid">
              <input type="text" name="employeeAddress" placeholder="Адреса на вработен" id="employeeAddress" class="input-field" required>
              <span class="tooltip-container">
                <i class="fas fa-info-circle info-icon"></i>
                <span class="tooltip-text">Внесете ја тековната адреса на живеење на вработениот. Препорачливо е да се прибави лична карта за да се евидентира евентуалната измена на адресата на живеење на работникот</span>
              </span>
            </div>

            <!-- Employee PIN -->
            <label for="employeePIN">ЕМБГ на вработен</label>
            <div class="input-grid">
              <input type="text" name="employeePIN" placeholder="ЕМБГ на вработен" id="employeePIN" class="input-field" required>
              <span class="tooltip-container">
                <i class="fas fa-info-circle info-icon"></i>
                <span class="tooltip-text">Внесете го единствениот матичен број на граѓанинот (ЕМБГ).</span>
              </span>
            </div>

            <div style="width: 9%; text-align: center;">
              <button type="button" class="next-step">Следно</button>
            </div>
          </div>
        </div>

        <!-- Step 2: Agreement Info -->
        <div class="step" id="step-2">
          <div class="user-role-selection" style="display: flex; flex-direction: column; width: 100%; padding-bottom: 15px; text-align: left; gap: 6px;">
            <h4>Податоци за договорот кој се изменува</h4>
            
            <!-- Agreement Number -->
            <label for="agreementNo">Архивски број на договор</label>
            <div class="input-grid">
              <input type="text" name="agreementNo" placeholder="Архивски број на договор" id="agreementNo" class="input-field" required>
              <span class="tooltip-container">
                <i class="fas fa-info-circle info-icon"></i>
                <span class="tooltip-text">Внесете го архивскиот број на договорот кој е предмет на измена, како што е заведен во М1/М2 образецот.</span>
              </span>
            </div>

            <!-- Annex Date -->
            <label for="annexDate">Датум на склучување на анексот</label>
            <div class="input-grid">
              <input type="date" name="annexDate" id="annexDate" class="input-field" placeholder="<%=moment().format('YYYY-MM-DD') %>" required>
              <span class="tooltip-container">
                <i class="fas fa-info-circle info-icon"></i>
                <span class="tooltip-text">Внесете го датумот на кој анексот се склучува.</span>
              </span>
            </div>

            <!-- End Date -->
            <label for="endDate">Нов - краен датум на времетраење на договорот</label>
            <div class="input-grid">
              <input type="date" name="endDate" id="endDate" class="input-field" placeholder="Датум на истек на договор" required>
              <span class="tooltip-container">
                <i class="fas fa-info-circle info-icon"></i>
                <span class="tooltip-text">Внесете го новиот краен датум односно датумот на истекување на договорот.</span>
              </span>
            </div>

            <!-- Changed Article -->
            <label for="changedArticle">Член во кој е определено времетраење</label>
            <div class="input-grid">
              <input type="text" name="changedArticle" placeholder="Член во кој е определено времетраење" id="changedArticle" class="input-field">
              <span class="tooltip-container">
                <i class="fas fa-info-circle info-icon"></i>
                <span class="tooltip-text">Тука се внесува членот во Договорот за вработување во кој е во овој момент определено времетраењето на тој договор. Со овој анекс, всушност го изменуваме тој член од договорот.</span>
              </span>
            </div>

            <div style="width: 90%; text-align: center;">
              <button type="button" class="prev-step">Назад</button>
              <button type="submit" id="generateButton">Генерирај</button>          
            </div>
          </div>
        </div>
      </form>
      
      <!-- This section will be used to display a live preview of the agreement -->
      <div class="presentation-column">
        <p>Визуелна презентација на содржината.</p>
      </div>
    </div>
    <section>
      <br>
      <hr>
      <section>
        <h3>Научете повеќе за Анекс за продолжување на договорот за вработување пред да го потпишете</h3>
        <div style="text-align: center;">
          <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/e3sTVYbsJjc" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
          </iframe>
        </div>
      </section>
      <!-- <h3 style="text-align: left;">Применливи законски одредби во однос на измена на договор за вработување и договор за вработување на определено време</h3>
      <div>
        <h style="text-align:left">Измена на договор за вработување согласно Закон за работни односи</h3> 
          <p style="text-align:center">         Измена на договорот за вработување</p>
          <p style="text-align:center">Член 28-а</p>
         <p>(1) Измени на договорот за вработување можат да бидат предложени од страна
          на работодавачот или од страна на работникот.</p>
          <p>(2) Измените на договорот за вработување се вршат со анекс на договорот за
          вработување.</p>
          <p> (3) Анексот на договорот за вработување се склучува во иста форма како и
          договорот за вработување, согласно законот.</p>
          <p> (4) Измените на договорот за вработување можат да бидат извршени ако и
          двете страни се договорат за истото.</p>
       <h style="text-align:left">Договор за вработување на определено време согласно Закон за работни односи</h3> 
        <p style="text-align:center">        Договор за вработување на определено време</p>
<p style="text-align:center">Член 46</p>
        <p>(1) Договор за вработување може да се склучи на определено време за вршење
        на исти работи, со прекин или без прекин до пет години.</p>
        <p>(2) Договор за вработување на определено време за замена на привремено
        отсутен работник може да се склучи до враќање на привремено отсутниот
        работник.</p>
        <p> (3) Работниот однос заснован со договор за вработување на определено време,
        освен договорот за вработување за вршење на сезонска работа, се трансформира
        во работен однос на неопределено време, ако работникот продолжи да работи по
        истекот на рокот од ставот (1) на овој член, под услови и на начин утврдени со
        закон.</p>
        <p>(4)По исклучок работниот однос заснован со договор за вработување на
        определено време може да се трансформира во работен однос на неопределено
        време и пред истекот на рокот од ставот (1) на овој член, ако работникот работи
        повеќе од две години на работно место кое е ослободено по основ на
        пензионирање или други основи и за кое се обезбедени финансиски средства,
        доколку работодавачот утврди дека има трајна потреба од работникот, под услови
        и на начин утврдени со закон.</p>


<p style="text-align:center">Престанување на важноста на договорот за вработување на определено работно време</p>
<p style="text-align:center">Член 64</p>
      </div>

    </div style="text-align:justify">
    <p>  Договорот за вработување на определено работно време престанува да важи со изминувањето на рокот за којшто бил склучен, односно кога договорената работа е завршена или со престанувањето на причината, заради којашто бил склучен.</p>
    <p>  Договорот за вработување на определено работно време престанува да важи со изминувањето на рокот за којшто бил склучен, односно кога договорената работа е завршена или со престанувањето на причината, заради којашто бил склучен.</p>
    
  </div>

    </section> -->
  </main>
  
  <%- include('../../../../shared/includes/footer')%>
</body>
</html>
