<!DOCTYPE html>
<html lang="mk">
<head>
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/forms.css">
  <link rel="stylesheet" href="/styles/navigation.css">
  <link rel="stylesheet" href="/styles/documents.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="/scripts/templates/employment/confirmation.js" defer></script>
  <script src="/scripts/templates/steps.js" defer></script>
</head>
<body style="padding: 0; padding-top: 40px;">
  <%- include('../../../../shared/includes/header')%>
  <main class="container">
    <section>
      <div class="progress-bar">
        <div id="progress" class="progress"></div>
        <div id="progress-label">0% завршен</div>
      </div>
      <div class="standard-template"></div>
    </section>

    <div class="form-container" style="display: grid; grid-template-columns: 1fr 2fr;">
      <form class="generate-confirmation-doc" action="/documents/employment/generate-confirmation" method="POST">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">

        <!-- Step 1: Employee Info -->
        <div class="step active" id="step-1">
          <div class="user-role-selection" style="display: flex; flex-direction: column; width: 100%; padding-bottom: 15px; text-align: left; gap: 6px;">
            <h4>Податоци за вработен</h4>
            <input type="hidden" name="companyName" value="<%= clientName %>" id="companyName">
            <input type="hidden" name="clientAddress" value="<%= clientAddress %>" id="clientAddress">
            <input type="hidden" name="clientPIN" value="<%= clientPIN %>" id="clientPIN">
            <input type="hidden" name="clientManager" value="<%= clientManager %>" id="clientManager">

            <!-- Employee Name -->
            <label for="employeeName">Име на вработен</label>
            <div class="input-grid">
              <input type="text" name="employeeName" placeholder="Име на вработен" id="employeeName" class="input-field" required>
              <span class="tooltip-container">
                <i class="fas fa-info-circle info-icon"></i>
                <span class="tooltip-text">Внесете го целосното име на вработениот.</span>
              </span>
            </div>

            <!-- Employee Address -->
            <label for="employeeAddress">Адреса на вработен</label>
            <div class="input-grid">
              <input type="text" name="employeeAddress" placeholder="Адреса на вработен" id="employeeAddress" class="input-field" required>
              <span class="tooltip-container">
                <i class="fas fa-info-circle info-icon"></i>
                <span class="tooltip-text">Внесете ја тековната адреса на живеење на вработениот. Препорачливо е да се прибави лична карта за да се евидентира евентуалната измена на адресата на живеење на работникот</span>
              </span>
            </div>

            <!-- Employee PIN -->
            <label for="employeePIN">ЕМБГ на вработен</label>
            <div class="input-grid">
              <input type="text" name="employeePIN" placeholder="ЕМБГ на вработен" id="employeePIN" class="input-field" required>
              <span class="tooltip-container">
                <i class="fas fa-info-circle info-icon"></i>
                <span class="tooltip-text">Внесете го ЕМБГ бројот на вработениот.</span>
              </span>
            </div>

            <!-- Job Position -->
            <label for="jobPosition">Позиција на работа</label>
            <div class="input-grid">
              <input type="text" name="jobPosition" placeholder="Работна позиција" id="jobPosition" class="input-field" required>
              <span class="tooltip-container">
                <i class="fas fa-info-circle info-icon"></i>
                <span class="tooltip-text">Внесете ја позицијата на која е вработен работникот во моментот на издавање на потврдата.</span>
              </span>
            </div>

            <div style="width: 9%; text-align: center;">
              <button type="button" class="next-step">Следно</button>
            </div>
          </div>
        </div>

        <!-- Step 2: Employment Agreement Info -->
        <div class="step" id="step-2">
          <div class="user-role-selection" style="display: flex; flex-direction: column; width: 100%; padding-bottom: 15px; text-align: left; gap: 6px;">
            <h4>Податоци за договорот</h4>

            <!-- Agreement Duration Type -->
            <label for="agreementDurationType">Тип на договор</label>
            <div class="input-grid">
              <input type="text" name="agreementDurationType" placeholder="Тип на договор" id="agreementDurationType" class="input-field" required>
              <span class="tooltip-container">
                <i class="fas fa-info-circle info-icon"></i>
                <span class="tooltip-text">Внесете го типот на договорот (на определено или неопределено време).</span>
              </span>
            </div>

            <!-- Defined Duration -->
            <label for="definedDuration">Временска важност на договорот (ако е применливо)</label>
            <div class="input-grid">
              <input type="date" name="definedDuration" id="definedDuration" class="input-field">
              <span class="tooltip-container">
                <i class="fas fa-info-circle info-icon"></i>
                <span class="tooltip-text">Ако договорот е со определено времетраење, внесете го датумот до кога важи.</span>
              </span>
            </div>

            <div style="width: 90%; text-align: center;">
              <button type="button" class="prev-step">Назад</button>
              <button type="submit" id="generateButton">Генерирај</button>          
            </div>
          </div>
        </div>
      </form>
      
      <!-- This section will be used to display a live preview of the confirmation -->
      <div class="presentation-column">
        <p>Визуелна презентација на содржината.</p>
      </div>
    </div>
  </main>
  
  <%- include('../../../../shared/includes/footer')%>
</body>
</html>
