<!DOCTYPE html>
<html lang="mk">
<head>
  <%- include('../../../../shared/includes/head', {pageTitle: 'Договор за вработување'})%>
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/client.css">
  <link rel="stylesheet" href="/styles/forms.css">
  <link rel="stylesheet" href="/styles/navigation.css">
  <link rel="stylesheet" href="/styles/dropdown.css">
  <link rel="stylesheet" href="/styles/tools.css">
  <link rel="stylesheet" href="/styles/documents.css">
  <script src="/scripts/dropdown.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="/scripts/templates/employment/employment-agreement.js" defer></script>
</head>
<body>
  <div style="text-align: left;">
    <a href="/" style="color: rgb(34, 33, 33); align-items: left; font-style: italic;"> NeXa почетна</a>
  </div>
  <main>

    <div class="standard-template">
      <div class="inputs-column">
        <input type="hidden" placeholder="Назив на компанија" value="<%= agent.name %>" id="companyName" readonly>
        <input type="hidden" placeholder="Адреса на компанија" value="<%= agent.clientAddress %>" id="companyAddress" readonly>
        <input type="hidden" placeholder="ЕМБС на компанија" value="<%= agent.clientTaxNumber %>" id="companyNumber" readonly>
        <input type="hidden" placeholder="Управител на компанија" value="<%= agent.clientManager %>" id="companyManager" readonly>
        
        <input type="text" placeholder="Име на вработен" id="employeeName">
        <input type="text" placeholder="Адреса на вработен" id="employeeAddress">
        <input type="text" placeholder="ЕМБГ на вработен" id="employeePIN">
        <input type="date" placeholder="Датум на договор" id="agreementDate">
        <input type="text" placeholder="Вид на договор (одредено/неодредено)" id="agreementDurationType">
        <input type="date" placeholder="Датум на истек на договор" id="definedDuration">
        <input type="text" placeholder="Работно место" id="jobPosition">
        <textarea type="text" placeholder="Опис на работни задачи" id="workTasks"></textarea>
        <input type="text" placeholder="Месечна плата" id="netSalary">
        <input type="text" placeholder="Работно време" id="agreementTimeType">
        <input type="text" placeholder="Работни часа неделно" id="totalWeekHours">
        <input type="text" placeholder="Пауза" id="breakDuration">
        <input type="text" placeholder="Дневно работно време" id="dailyWorkTime">
        <input type="text" placeholder="Годишен одмор" id="annualLeaveDuration">
        <input type="text" placeholder="Отказен рок" id="noticePeriod">
        <input type="text" placeholder="Забрана за конкуренција (години)" id="nonCompeteDuration">
        <button id="generateButton">Генерирај</button>
      </div>
      <div class="presentation-column">
        <p>Визуелна презентација на содржината - Договор за вработување.</p>
      </div>
    </div>
  </main>
  <%- include('../../../../shared/includes/footer')%>
</body>
</html>
