<!DOCTYPE html>
<html lang="mk">
<head>
  <%- include('../../../../shared/includes/head', {pageTitle: 'Решение за Откажување на Договор за Вработување поради Лични Причини'})%>
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/client.css">
  <link rel="stylesheet" href="/styles/forms.css">
  <link rel="stylesheet" href="/styles/navigation.css">
  <link rel="stylesheet" href="/styles/dropdown.css">
  <link rel="stylesheet" href="/styles/tools.css">
  <link rel="stylesheet" href="/styles/documents.css">
  <script src="/scripts/dropdown.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="/scripts/templates/termination-due-to-personal-reasons.js" defer></script>
</head>
<body>
  <main>
    <div class="standard-template">
      <div class="inputs-column">
        <input type="hidden" placeholder="Назив на компанија" value="<%= agent.name %>" id="companyName">
        <input type="hidden" placeholder="Адреса на компанија" value="<%= agent.clientAddress %>" id="companyAddress">
        <input type="hidden" placeholder="ЕМБС на компанија" value="<%= agent.clientTaxNumber %>" id="companyNumber">
        <input type="hidden" placeholder="Управител на компанија" value="<%= agent.clientManager %>" id="companyManager">
        <input type="text" placeholder="Име на вработен" id="employeeName">
        <input type="text" placeholder="Работно место" id="jobPosition">
        <input type="date" placeholder="Датум на одлука" id="decisionDate">
        <input type="date" placeholder="Датум на предупредување" id="warningDate">
        <input type="number" placeholder="Рок за подобрување на работењето (дена)" id="employeeDeadline">
        <textarea placeholder="Неисполнување на обврски" id="workTaskFailure"></textarea>
        <textarea placeholder="Погрешно постапување" id="employeeWrongDoing"></textarea>
        <button id="generateButton">Генерирај</button>
      </div>
      <div class="presentation-column">
        <p>Визуелна презентација на содржината.</p>
      </div>
    </div>
  </main>
  <%- include('../../../../shared/includes/footer')%>
</body>
</html>
