<!DOCTYPE html>
<html lang="mk">
<head>
  <%- include('../../../../shared/includes/head', {pageTitle: 'Спогодба за Раскинување на Договор за Вработување'})%>
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/client.css">
  <link rel="stylesheet" href="/styles/forms.css">
  <link rel="stylesheet" href="/styles/navigation.css">
  <link rel="stylesheet" href="/styles/dropdown.css">
  <link rel="stylesheet" href="/styles/tools.css">
  <link rel="stylesheet" href="/styles/documents.css">
  <script src="/scripts/dropdown.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="/scripts/templates/termination-agreement.js" defer></script>
</head>
<body>
  <main>
    <div class="standard-template">
      <div class="inputs-column" style="text-align: left;">
        <label for="dateAgreement">Датум на спогодба:</label>
        <input type="date" name="dateAgreement" placeholder="Датум на раскинување договор" id="employmentTerminationDate">
        <input type="hidden" placeholder="Назив на компанија" value="<%= agent.name %>" id="companyName">
        <input type="hidden" placeholder="Адреса на компанија" value="<%= agent.clientAddress %>" id="companyAddress">
        <input type="hidden" placeholder="ЕМБС на компанија" value="<%= agent.clientTaxNumber %>" id="companyNumber">
        <input type="hidden" placeholder="Управител на компанија" value="<%= agent.clientManager %>" id="companyManager">
        <input type="text" placeholder="Име на вработен" id="employeeName">
        <input type="text" placeholder="ЕМБГ на вработен" id="employeePIN">
        <input type="text" placeholder="Работно место" id="jobPosition">
        <label for="dateEmploymentAgreement">Датум на договор кој престанува:</label>
        <input type="date" placeholder="Датум на склучување договор" id="employmentAgreementDate" name="dateEmploymentAgreement">
        <button id="generateButton">Генерирај</button>
      </div>
      <div class="presentation-column">
        <p>Визуелна презентација на содржината.</p>
      </div>
    </div>
  </main>
  <%- include('../../../../shared/includes/footer')%>
</body>
</html>
